
.cache


# Jupyter Notebook
.ipynb_checkpoints


# Spyder project settings
.spyderproject
.spyproject


src/psypose/models/__pycache__

**/.DS_Store
**/__pycache__

#Don't track content of these folders
# insert paths here

# Ignore all files of these types
*ipynb
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.npy
*.p
*.npz
*.gif
*.png
*.h5
*.xml
*.idea
*.pkl
*.idea
*.mp3
*.mp4
*.avi
psypose-env.yml
psypose_env.txt

venv
src/psypose.egg-info
dev.ipynb
./extract_all_poses.py

