
.cache


# Jupyter Notebook
.ipynb_checkpoints


# Spyder project settings
.spyderproject
.spyproject


src/psypose/models/__pycache__

**/.DS_Store
**/__pycache__

#Don't track content of these folders
src/psypose/meva/trained_models/
src/psypose/meva/someOtherfoler/



# Ignore all files of these types
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.npy
*.p
*.npz
*.gif
*.png
*.h5
*.xml
*.idea


**images_intermediate
