py-feat @ git+https://github.com/cosanlab/py-feat.git
pare @ git+https://github.com/LandryBulls/PARE.git@pare_scrap
gdown
moviepy
pytube
jpy-video
plotly>=4.14.3
networkx
scikit-learn
scenedetect
future
numba
h5py
opencv-contrib-python
torchfile
shyaml
numpy
keras
tensorflow

# pare-specific reqs
torch==1.6.0
torchvision==0.7.0
joblib==0.15.1
opencv-python==4.1.1.26
tqdm==4.47.0
scipy==1.7.0
scikit-image
