py-feat @ git+https://github.com/cosanlab/py-feat.git
yolov3 @ git+https://github.com/mkocabas/yolov3-pytorch.git
gdown
moviepy
pytube
jpy-video
plotly>=4.14.3
networkx
scikit-learn
scenedetect
future
tqdm
scipy
chumpy
numba
yacs
joblib
trimesh
pyrender
pytube
filterpy
h5py
scikit-image
opencv-python>=3.4.11.43
torch
torchvision
opencv-contrib-python
prettytable
torchfile
plyfile
munkres
shyaml
pyquaternion
PyYAML>=5.1.2
numpy==1.20.0
tensorboard
