py-feat @ git+https://github.com/LandryBulls/py-feat.git
ROMP_psypose @ git+https://github.com/scraplab/ROMP.git
gdown
moviepy
umap-learn
pytube
jpy-video
face-recognition
plotly>=4.14.3
nibabel
networkx
scikit-learn
scenedetect
future
tqdm
scipy
chumpy
numba
yacs
joblib
trimesh
pyrender
pytube
filterpy
h5py
scikit-image
opencv-python>=3.4.11.43
torch
torchvision
opencv-contrib-python
prettytable
torchfile
plyfile
munkres
shyaml
PyYAML>=5.1.2
numpy==1.20.0
